{{>licenseInfo}}
/* eslint-disable @typescript-eslint/no-empty-interface,dot-notation */
import {
  controller,
  Delegator,
  route,
} from '@launchtray/hatch-server';
import {BasicRouteParams} from '@launchtray/hatch-server-middleware';
import {inject, Logger} from '@launchtray/hatch-util';
import {
  DependencyContainer,
  resolveParams,
} from '@launchtray/tsyringe-async';
import * as models from '../models';
import * as runtime from '../runtime';

export interface {{classname}}Delegate {
  {{#operations}}
  {{#operation}}
  handle{{operationIdCamelCase}}(
    request: models.{{operationIdCamelCase}}Request,
    ...optionalInjections: unknown[]
  ): models.ApiDelegateResponse<models.{{> response-type}}>;
  {{/operation}}
  {{/operations}}
}

@controller({injectContainerOnly: true})
export class {{classname}}Controller implements Delegator<{{classname}}Delegate> {
  static delegateToken = Symbol('{{classname}}Delegate');

  constructor(
    @inject('Logger') private readonly logger: Logger,
    @inject({{classname}}Controller.delegateToken) public readonly delegate: {{classname}}Delegate,
  ) {
  }
  {{#operations}}
  {{#operation}}

  @route.{{#lambda.lowercase}}{{httpMethod}}{{/lambda.lowercase}}('{{path}}'{{#pathParams.0}}.replace(/{([^}]*)}/g, ':$1'){{/pathParams.0}})
  async handle{{operationIdCamelCase}}(requestContainer: DependencyContainer) {
    const basicRouteParams = await requestContainer.resolve(BasicRouteParams);
    try {
      const request: models.{{operationIdCamelCase}}Request = {
        {{#headerParams.0}}
        headers: {
        {{#headerParams}}
          {{paramName}}: runtime.{{> require-param }}(
            basicRouteParams.req.header('{{baseName}}'),
            'header: "{{baseName}}"',
          ),
        {{/headerParams}}
        },
        {{/headerParams.0}}
        {{#bodyParam}}
        {{#isListContainer}}
        {{#items}}
        {{#isPrimitiveType}}
        body: basicRouteParams.req.body{{#isNumeric}}.map(Number){{/isNumeric}},
        {{/isPrimitiveType}}
        {{^isPrimitiveType}}
        body: basicRouteParams.req.body.map(models.{{{baseType}}}FromJSON),
        {{/isPrimitiveType}}
        {{/items}}
        {{/isListContainer}}
        {{^isListContainer}}
        body: models.{{{dataType}}}FromJSON(basicRouteParams.req.body),
        {{/isListContainer}}
        {{/bodyParam}}
        {{#pathParams.0}}
        pathParams: {
        {{#pathParams}}
          {{paramName}}: runtime.{{> require-param }}(
            basicRouteParams.req.params.{{baseName}},
            'path param: "{{baseName}}"',
          ),
        {{/pathParams}}
        },
        {{/pathParams.0}}
        {{#queryParams.0}}
        queryParams: {
        {{#queryParams}}
          {{paramName}}: runtime.{{> require-param }}(
            basicRouteParams.req.query.{{baseName}},
            'query param: "{{baseName}}"',
          ),
        {{/queryParams}}
        },
        {{/queryParams.0}}
      };
      const target = this.delegate.constructor.prototype;
      const args = await resolveParams(
        requestContainer,
        target,
        'handle{{operationIdCamelCase}}',
        request,
      ) as [models.{{operationIdCamelCase}}Request, ...unknown[]];

      const delegateResponse = await this.delegate.handle{{operationIdCamelCase}}(...args);
      if (runtime.handleApiAlternateActions(delegateResponse, basicRouteParams)) {
        return;
      }

      {{#responseHeaders.0}}
      const responseHeaders = {};
      {{#responseHeaders}}
      if (delegateResponse.headers.{{name}} != null) {
        responseHeaders['{{baseName}}'] = delegateResponse.headers.{{name}};
      }
      {{/responseHeaders}}
      basicRouteParams.res.set(responseHeaders);
      {{/responseHeaders.0}}
      {{#returnType}}
      const delegateResponseBody = await delegateResponse.body;
      {{#isResponseFile}}
      basicRouteParams.res.status(delegateResponse?.httpCode ?? 200).send(delegateResponseBody);
      {{/isResponseFile}}
      {{^isResponseFile}}
      {{#returnTypeIsPrimitive}}
      basicRouteParams.res.status(delegateResponse?.httpCode ?? 200).send(delegateResponseBody);
      {{/returnTypeIsPrimitive}}
      {{^returnTypeIsPrimitive}}
      {{#isListContainer}}
      const responseJson = delegateResponseBody.map(models.{{returnBaseType}}ToJSON);
      basicRouteParams.res.status(delegateResponse?.httpCode ?? 200).send(responseJson);
      {{/isListContainer}}
      {{^isListContainer}}
      {{#isMapContainer}}
      const responseJson = runtime.mapValues(delegateResponseBody, models.{{returnBaseType}}ToJSON);
      basicRouteParams.res.status(delegateResponse?.httpCode ?? 200).send(responseJson);
      {{/isMapContainer}}
      {{^isMapContainer}}
      const responseJson = models.{{returnBaseType}}ToJSON(delegateResponseBody);
      basicRouteParams.res.status(delegateResponse?.httpCode ?? 200).send(responseJson);
      {{/isMapContainer}}
      {{/isListContainer}}
      {{/returnTypeIsPrimitive}}
      {{/isResponseFile}}
      {{/returnType}}
      {{^returnType}}
      basicRouteParams.res.sendStatus(200);
      {{/returnType}}
    } catch (err: unknown) {
      this.logger.info(`Error servicing handle{{operationIdCamelCase}}: ${(err as {message?: string}).message}`);
      if (runtime.handleApiError(err, basicRouteParams)) {
        return;
      }
      basicRouteParams.res.status(500).send((err as {message?: string}).message ?? '');
    }
  }
  {{/operation}}
  {{/operations}}
}
