interface {{classname}} {
{{#operation}}
  /**
  {{#notes}}
    * {{&notes}}
  {{/notes}}
  {{#summary}}
    * {{&summary}}
  {{/summary}}
  * Returns object containing status code, headers, and a promise for the body contents
  */
  {{nickname}}Raw({{#allParams.0}}request: {{operationIdCamelCase}}Request{{/allParams.0}}): Promise<{{> response-type}}>;
  {{#returnType}}
    /**
    {{#notes}}
      * {{&notes}}
    {{/notes}}
    {{#summary}}
      * {{&summary}}
    {{/summary}}
    * Helper method for the common case that only the HTTP body is needed from the response
    */
    {{nickname}}({{#allParams.0}}request: {{operationIdCamelCase}}Request{{/allParams.0}}): Promise<{{{returnType}}}>
  {{/returnType}}
{{/operation}}
}
