interface {{classname}} {
{{#operation}}
  /**
  {{#notes}}
   * {{&notes}}
  {{/notes}}
  {{#summary}}
   * {{&summary}}
  {{/summary}}
   * Returns object containing status code, headers, and a promise for the body contents
   */
  {{nickname}}Raw({{#allParams.0}}request: {{operationIdCamelCase}}HttpRequest{{/allParams.0}}): Promise<{{operationIdCamelCase}}HttpSuccessResponse & {status: number}>;
  {{nickname}}Raw({{#allParams.0}}request: {{operationIdCamelCase}}HttpRequest, {{/allParams.0}}allowError: false): Promise<{{operationIdCamelCase}}HttpSuccessResponse & {status: number}>;
  {{nickname}}Raw({{#allParams.0}}request: {{operationIdCamelCase}}HttpRequest, {{/allParams.0}}allowError: true): Promise<{{operationIdCamelCase}}HttpResponse & {status: number}>;
  /**
  {{#notes}}
   * {{&notes}}
  {{/notes}}
  {{#summary}}
   * {{&summary}}
  {{/summary}}
   * Helper method for the common case that only the HTTP body is needed from the response
   */
  {{nickname}}({{#allParams.0}}request: {{operationIdCamelCase}}HttpRequest{{/allParams.0}}): Promise<{{operationIdCamelCase}}HttpResponseSuccessBody>;
  {{nickname}}({{#allParams.0}}request: {{operationIdCamelCase}}HttpRequest, {{/allParams.0}}allowError: false): Promise<{{operationIdCamelCase}}HttpResponseSuccessBody>;
  {{nickname}}({{#allParams.0}}request: {{operationIdCamelCase}}HttpRequest, {{/allParams.0}}allowError: true): Promise<{{operationIdCamelCase}}HttpResponseBody>;
{{/operation}}
}
