{{#isHeaderParam}}headers{{/isHeaderParam}}{{#isPathParam}}pathParams{{/isPathParam}}{{#isFormParam}}formParams{{/isFormParam}}{{#isQueryParam}}queryParams{{/isQueryParam}}{{^isBodyParam}}?.{{paramName}}{{/isBodyParam}}{{#isBodyParam}}body{{/isBodyParam}}