{{#isEnum}}{{#isListContainer}}Array<{{operationIdCamelCase}}{{enumName}}>{{/isListContainer}}{{^isListContainer}}{{operationIdCamelCase}}{{{datatypeWithEnum}}}{{/isListContainer}}{{/isEnum}}{{^isEnum}}{{{dataType}}}{{#isNullable}} | null{{/isNullable}}{{/isEnum}}