{{#isHeaderParam}}headers{{/isHeaderParam}}{{#isPathParam}}pathParams{{/isPathParam}}{{#isQueryParam}}queryParams{{/isQueryParam}}{{^isBodyParam}}.{{paramName}}{{/isBodyParam}}{{#isBodyParam}}body{{/isBodyParam}}