require{{^required}}Optional{{/required}}{{#isEnum}}Enum<runtime.{{operationIdCamelCase}}{{{datatypeWithEnum}}}, {{{dataType}}}>{{/isEnum}}{{^isEnum}}{{#lambda.pascalcase}}{{#baseType}}{{baseType}}{{/baseType}}{{^baseType}}{{dataType}}{{/baseType}}{{/lambda.pascalcase}}{{/isEnum}}