require{{^isBodyParam}}{{^required}}Optional{{/required}}{{/isBodyParam}}{{#isEnum}}{{#isListContainer}}Enum{{/isListContainer}}{{^isListContainer}}Enum<runtime.{{operationIdCamelCase}}{{{datatypeWithEnum}}}, {{{dataType}}}>{{/isListContainer}}{{/isEnum}}{{^isEnum}}{{#lambda.pascalcase}}{{#baseType}}{{baseType}}{{/baseType}}{{^baseType}}{{dataType}}{{/baseType}}{{/lambda.pascalcase}}{{/isEnum}}